<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @pageTitle || 'index' %> - qdb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <a href="#main" class="sr-only">Skip to content</a>
  <a href="#nav"  class="sr-only">Skip to navigation</a>

  <header>
    <div class="navbar navbar-inverse">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span></button>
        <a href="/" class="navbar-brand">qdb</a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <a id="nav" name="nav" class="hidden"></a>

        <ul class="nav navbar-nav box-nav" role="navigation">
          <li><a href="/">home</a></li>
          <li><a href="/quotes/">quotes</a></li>
          <li class="dropdown" aria-label="quotes (pick a sorting method!)">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Sort quotes by:</li>
              <li><a href="/quotes/old">oldest</a></li>
              <li><a href="/quotes/voted">best voted</a></li>
              <li><a href="/quotes/new">new</a></li>
            </ul>
        </ul>


        <% if @loggedIn %>
        <ul class="nav navbar-nav navbar-right box-nav-logged-in">
          <% if @userFlags.include? :post_quotes %>
          <li><a href="/quote/new">new quote</a></li>
          <% end %>

          <% if @userFlags.include? :approve_quotes %>
          <li><a href="/moderate/queue">approval queue</a></li>
          <% end %>

          <% if @userFlags.include? :list_users %>
          <li><a href="/user/list">users</a></li>
          <% end %>
        </ul>

        <p class="navbar-text navbar-right">
          // logged in as <a href="/user/settings"><%= @username %></a>

          (<a href="/user/logout">logout</a>)
        </p>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/user/login">login</a></li>
          <li><a href="/user/register">register</a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </header>

  <div class="container">
  <main>
    <a name="main" id="main" class="hidden"></a>
    <% if flash[:error] %>
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= flash[:error] %>
    </div>
    <% end %>
    <% if flash[:info] %>
    <div class="alert alert-info">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= flash[:info] %>
    </div>
    <% end %>
    <% if flash[:success] %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= flash[:success] %>
    </div>
    <% end %>

    <%= yield %>
  </main>
  <footer>
  </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
