<h2>Moderation Queue</h2>

<div class="quotes">
  <% @quotes.each do |quote| %>
  <div class="quote well">
    <h4>Quote #<%=quote.id%> by <%=quote.author%></h4>
    <div class="approved">Approved: <%= quote.approved %></div>
    <div class="actual-quote"> <%= quote.quote %> </div>
    <form class="form-inline" style="display: inline-block" method="POST" action="/quote/<%=quote.id%>/approve">
      <input type="submit" class="btn btn-primary" value="Approve">
    </form>
    <% if @userFlags.include?(:edit_quotes) %>
      <a class="btn btn-info" href="/quote/<%= quote.id %>/edit">edit</a>
    <% end %>
    <% if @userFlags.include?(:delete_quotes) %>
      <a class="btn btn-danger" href="/quote/<%= quote.id %>/delete">delete</a>
    <% end %>
  </div>
  <% end %>

  <%= will_paginate @quotes unless @quotes.empty? %>
</div>
