<div class="quote well" data-id="<%=@quote.id%>">
  <div class="actual-quote"> <%= @quote.quote %> </div>

  <div class="metadata-bar">
    <div title="Upvotes" class="upvotes <%= (@loggedIn && @voted) ? 'voted' : '' %> <%= (@loggedIn && @userFlags.include?(:can_vote)) ? 'can_vote' : '' %>">&and; <%= @quote.upvotes || 0 %></div> /
    <div title="Quote ID" class="id"><a href="/quote/<%=@quote.id%>">#<%= @quote.id %></a></div>
    <% if @loggedIn %>
    <%    if @userFlags.include?(:edit_quotes) %>
    / <a href="/quote/<%= @quote.id %>/edit">edit</a>
    <%    end %>
    <%    if @userFlags.include?(:delete_quotes) %>
    / <a href="/quote/<%= @quote.id %>/delete">delete</a>
    <%    end %>
    <% end %>
  </div>
</div>
