<div class="quote well">
  <h4>Quote #<%=@quote.id%> by <%=@quote.author%></h4>
  <div class="actual-quote"> <%= @quote.quote %> </div>

  <% if @loggedIn %>
    <% if @userFlags.include?(:edit_quotes) %>
      <a href="/quote/<%= @quote.id %>/edit">(edit)</a>
    <% end %>
    <% if @userFlags.include?(:delete_quotes) %>
      <a href="/quote/<%= @quote.id %>/delete">(delete)</a>
    <% end %>
  <% end %>
</div>
